.expertise {
    background-color: var(--high-light);
}

.expertise .xp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.xp .expertise-img {
    width: 50%;
}

.xp .expertise-img img {
    width: 100%;
    padding-top: 5%;
}

.xp .description {
    width: 45%;
}
