@media (max-width: 960px) {
  .logo img {
    height: 60px;
  }

  .menu {
    display: block;
    position: absolute;
    top: 12rem;
    left: 0;
    background: var(--azul-500);
    text-align: left;
    width: 100%;
    height: 0;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }
  .menu a {
    padding: 1rem 4rem;
    border-radius: 0;
    margin-block: 2rem;
  }
  button.btn-menu {
    background: none;
    border: none;
    font: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--high-medium);
    border-radius: 100px;
    padding: 2rem 1.6rem;
    cursor: pointer;
  }
  .hamburger {
    border-top: 0.3rem solid var(--azul-500);
    width: 3rem;
  }
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 3rem;
    border-top: 0.3rem solid var(--azul-500);
    /* background: currentColor; */
    margin-top: 0.6rem;
    position: relative;
    transition: 0.3s;
  }
  .nav.active .menu {
    height: calc(100vh - 12rem);
    visibility: visible;
    overflow-y: auto;
  }
  .nav.active .hamburger {
    border-top-color: transparent;
  }
  .nav.active .hamburger::before {
    transform: rotate(45deg);
  }
  .nav.active .hamburger::after {
    transform: rotate(-45deg);
    top: -0.75rem;
  }
}