@media (max-width: 1666px) {

  .expertise .xp .slider-container {
    width: 100%;
  }

  .expertise .xp .slider-container .slider {
    /* justify-content: start; */
    max-width: 100%;
    padding-inline: 10px;
  }

}

@media(max-width: 1024px) {
  .logo img {
    height: 50px;
  }

  section.letter-banner {
    height: 660px;
  }

  .letter-banner .banner {
    height: 100%;
  }

  .letter-banner .banner-description {
    width: 100%;
  }

  .letter-banner .banner-description h1 {
    font-size: var(--h2);
  }

  .itens-footer {
    flex-direction: column;
  }

  .footer .itens-footer .logo {
    width: 100%;
    margin-bottom: 80px;
  }

  .itens-footer .logo p {
    width: 100%;
  }

}

@media(max-width: 960px) {
  .menu {
    flex-direction: column;
    position: absolute;
    top: 12rem;
    left: 0;
    background: var(--azul-500);
    text-align: left;
    padding: 0 1.6rem;
    width: 100%;
    height: 0;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }

  .menu a {
    padding: 1rem 4rem;
    border-radius: 0;
    margin-block: 2rem;
  }

  button.btn-menu {
    background: none;
    border: none;
    font: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--high-medium);
    border-radius: 100px;
    padding: 2rem 1.6rem;
    cursor: pointer;
  }

  .hamburger {
    border-top: 0.3rem solid var(--azul-500);
    width: 3rem;
  }

  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 3rem;
    border-top: 0.3rem solid var(--azul-500);
    margin-top: 0.6rem;
    position: relative;
    transition: 0.3s;
  }

  .nav.active .menu {
    height: calc(100vh - 12rem);
    visibility: visible;
    overflow-y: auto;
  }

  .nav.active .hamburger {
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(45deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-45deg);
    top: -0.75rem;
  }

  #home {
    height: 500px;
  }

  .letter-banner .banner-description h1 {
    width: 100%;
    font-size: 3.2rem;
  }

  .letter-banner .banner-description p {
    width: 100%;
    font-size: 1.6rem;
  }

  .next-section {
    visibility: hidden;
  }

  .about .about-infos .about-img img,
  .expertise .xp .expertise-img img {
    padding: 0;
  }

  .about .about-infos,
  section.expertise .xp {
    flex-direction: column;
  }

  .about .about-infos .description,
  .about .about-infos .about-img,
  .expertise .xp .expertise-img,
  .expertise .xp .xp-description {
    width: 100%;
  }

  .expertise .xp .description {
    order: 1;
  }

  .expertise .xp .expertise-img {
    order: 2;
  }

  .about .about-infos .description,
  .expertise .xp .xp-description {
    margin-bottom: 64px;
  }

  .forms form {
    width: 100%;
  }

  .forms .form-btn {
    width: 100%;
  }

  .footer .itens-footer .ft-navigation {
    flex-direction: column;
    padding: 0 10%;
  }
}

@media(max-width: 620px) {

  .description h2,
  .xp .xp-description h2,
  .banner-description h2 {
    font-size: 3.2rem;
  }

  .button {
    padding: 40px;
  }

  .banner,
  .about-infos,
  .expertise .xp,
  .form-container {
    padding: 60px 16px;
  }

  .header .menu-header,
  footer.footer .social-container {
    padding: 1.6rem;
  }

  .expertise .xp .slider-container .slider .card {
    flex: 0 0 100%;
    max-width: 100%;
    /* height: 300px; */
  }

  .expertise .xp .slider-container .slider {
    max-width: 90vw;
  }

  .forms .form-btn {
    width: 100%;
  }

  footer.menu-footer .itens-footer {
    flex-direction: column;
  }

  footer.menu-footer .itens-footer a {
    display: flex;
    justify-content: center;
  }

  footer.menu-footer .itens-footer .contato {
    flex-direction: column;
    gap: 40px;
    margin-top: 60px;
  }

  footer.menu-footer .itens-footer .contato .atendimento ul li a {
    justify-content: start;
    margin-bottom: 20px;
  }

  footer.menu-footer .itens-footer .contato .redes-sociais ul {
    justify-content: start;
    gap: 60px;
  }

  footer.footer {
    padding-top: 60px;
  }

  footer.footer .made {
    padding: 8px 16px;
    flex-direction: column;
    align-items: center;
  }

}
