:root {
  /* Cores */
  --azul-300: #86CCED;
  --azul-500: #3688C6;
  --azul-700: #113872;

  /* Cores high */
  --high-pure: #FFFFFF;
  --high-light: #F9F9F9;
  --high-medium: #EDEDED;

  /* Cores low */
  --low-pure: #0C0C11;
  --low-light: #333333;
  --low-medium: #202226;
}

:root {
  /* Tipografia */
  --h1: 5.6rem;
  --h2: 4rem;
  --h3: 3.2rem;
  --p: 1.8rem;

  --title: "League Spartan", sans-serif;
  --paragraph: "Lato", sans-serif;
}